* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;

}

header {
    display: flex;
    flex-direction: column;
    /* height: 15vh; */
    gap: 15px;
    background-color: rgb(0, 0, 72);
    padding-left: 15px;
    padding-top: 16px;
    padding-right: 15px;
    padding-bottom: 16px;
    color: white;
    /* width: 100%; */
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid 2px; */
}

.logo {
    font-size: 2rem;
}

.links {
    display: flex;
    gap: 2vw;
    font-size: 0.8rem;
}

.searchpanel {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    font-size: 1rem;
    
}


input[type=search] {
    width: vw;
    height: 28px;
    border: none;
    border-radius: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
    line-height: 28px;
    font-size: small;
}
@media(min-width: 768px) and (max-width: 1024px) {
  .links{
    display: none;
  }
  #searchbar{
    width: 230px;
  }


} 
#searchbar::placeholder {
    display: flex;
    align-items: center;
    font-size: small;
    padding-bottom: 3px;


}

.header-login {
    background-color: rgb(70, 70, 165);
    border-radius: 10px;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-signup {
    background-color: rgb(70, 70, 165);
    border-radius: 10px;
   padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 5px;
    padding-bottom: 5px;
}
 @media (max-width:768px) {
  .links{
    display: none;
  
  }
  #header-login{
    display: none;
  }
  #header-signup{
    display: none;
  }
 } 
.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar2 {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    /* border: solid 2px; */
    font-size: 18PX;
}

.whitetext {
    color: white;
}
/* _______________________ */
.about-section {
  background-color: #f8f9fd;
  padding: 60px 10vw;
  text-align: center;
}

.about-section h1 {
  color: rgb(0, 0, 72);
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.6rem;
}

/* Contact Details Section */
.contact-details {
  background-color: white;
  padding: 50px 10vw;
  text-align: center;
  border-top: 2px solid rgb(0, 0, 72);
}

.contact-details h2 {
  color: rgb(0, 0, 72);
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 1rem;
  color: #222;
  margin: 10px 0;
}

.contact-info a {
  color: rgb(0, 0, 72);
}

.contact-info a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: rgb(0, 0, 72);
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
}