* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;

}

header {
    display: flex;
    flex-direction: column;
    /* height: 15vh; */
    gap: 15px;
    background-color: rgb(0, 0, 72);
    padding-left: 15px;
    padding-top: 16px;
    padding-right: 15px;
    padding-bottom: 16px;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid 2px; */
}

.logo {
    font-size: 32px;
}

.links {
    display: flex;
    gap: 40px;
    font-size: 14px;
}

.searchpanel {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    
}

#searchbar {
    width: 220px;
    height: 28px;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 8px;
    line-height: 28px;
    font-size: small;
}

#searchbar::placeholder {
    display: flex;
    align-items: center;
    font-size: small;
    padding-bottom: 3px;


}

.header-login {
    background-color: rgb(70, 70, 165);
    border-radius: 10px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-signup {
    background-color: rgb(70, 70, 165);
    border-radius: 10px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar2 {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    /* border: solid 2px; */
    font-size: 18PX;
}

.whitetext {
    color: white;
}
/* ____________________________________________________ */